.postlist{
    width: 870px;
    margin-top: 15px;
    flex-wrap: wrap;
    float: left;
    display: grid;
    display: inline-flex;
    gap: 30px;
}

.postitem{
	max-width: 415px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border-radius:  4px;
    overflow: hidden;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	text-align: center;
	margin: 20px 0px;
}

.postitem img{
	width: 150px;
	border-radius: 6px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

.postitem h3{
	font-size: 1.5rem;
    padding: 0 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.post-image-left {
	display: block;
    margin-right: auto;
    margin-left: auto;
}


.postThumbnail img {
	width: 200px;
    height: 240px ;
    object-fit: cover;
}

.postitem p{
	width: 100%;
    text-align: center;
}

.postitem p.more a {
    background-color: #f5f5f5;
    display: block;
    padding: 4px 8px;
    width: 33%;
    margin: 0 auto;
    color: black;
    font-weight: 500;
}


